* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  font-family: sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.section-one-block {
  background: url('images/sand.jpg');
  background-size: cover;
  padding: 300px 20px;
  width: 100%;
  position: fixed;
  clear: both;
  margin-top: 0;
  top: 0;
  z-index: -1;
}

.section-two-block {
  background: url('images/ocean.jpg');
  background-size: cover;
  color: white;
  padding: 300px 20px;
  margin-top: 760px;
  width: 100%;
}

.section-three-columns {
  display: flex;
  justify-content: space-around;
  margin: 50px 20px;
  background: white;
  flex-wrap: wrap;
  width: 100%;
}
.section-three-columns>div {
  width: 30%;
  padding: 100px 20px;
}
.column-one {
  background: url('images/wood.jpg');
  background-size: cover;
}
.column-two {
  background: url('images/tile.jpg');
  background-size: cover;
  border-left: 10px solid white;
  border-right: 10px solid white;
  z-index: 1;
}
.column-three {
  background: url('images/leaves.jpg');
  background-size: cover;
}

footer {
  padding: 300px 20px;
  width: 100%;
  background: url('images/sand.jpg');
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width : 480px) {
  /*.section-three-columns>div {
    width: 100%;
   }*/
 }
